.lanyard-wrapper{position:relative;width:100%;height:100%;touch-action:none}
.ref-lanyard{position:absolute;z-index:20;left:10%;top:0;width:30%;height:100%;overflow:visible;pointer-events:auto;touch-action:none}
.ref-lanyard__canvas{position:absolute;width:600%;height:300%;left:-250%;top:-115%;pointer-events:none}
.ref-lanyard canvas{pointer-events:none!important}
.ref-lanyard__static{position:absolute;width:74%;height:70%;object-fit:contain;left:13%;top:14%;filter:drop-shadow(15px 22px 18px #0005)}
@media(max-width:720px) and (orientation:portrait){.ref-lanyard{position:relative;order:2;left:auto;top:auto;width:100%;height:510px;flex:none;clip-path:inset(0 -100vw)}.ref-lanyard__canvas{height:270%;top:-95%}.ref-lanyard__static{height:90%;top:5%}}
